<section class="players-section pt-10">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 col-lg-10 mx-auto">
        <div class="header-section">
          <h1 class="h1">Soupiska</h1>
          <div class="header-section__row">
            <label class="o-select header-section__label">
              <div class="header-section__category">Sezóna</div>
              <select class="js-select">
                <option>Sezona 2</option>
                <option>sezona 3</option>
                <option>FORTUNA:NÁRODNÍ LIGA 2023/24</option>
                <option>sezona 1</option>
                <option>sezona 2</option>
                <option>sezona 3</option>
                <option>sezona 4</option>
                <option>sezona 5</option>
              </select>
            </label>
          </div>
        </div>
        <div class="article-section__img">
          <img src="images/content/post.jpeg" loading="lazy" alt="post" />
        </div>
        <div class="table-section__content">
          <div class="o-content">
            <table>
              <tr>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Jméno</th>
                    <th>Rok narození</th>
                    <th>Výška</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>5</td>
                    <td>Veronika Laušmanová</td>
                    <td>2006</td>
                    <td>173 cm</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Veronika Laušmanová</td>
                    <td>2006</td>
                    <td>173 cm</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Veronika Laušmanová</td>
                    <td>2006</td>
                    <td>173 cm</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Veronika Laušmanová</td>
                    <td>2006</td>
                    <td>173 cm</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Veronika Laušmanová</td>
                    <td>2006</td>
                    <td>173 cm</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Veronika Laušmanová</td>
                    <td>2006</td>
                    <td>173 cm</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Veronika Laušmanová</td>
                    <td>2006</td>
                    <td>173 cm</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Veronika Laušmanová</td>
                    <td>2006</td>
                    <td>173 cm</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Veronika Laušmanová</td>
                    <td>2006</td>
                    <td>173 cm</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Veronika Laušmanová</td>
                    <td>2006</td>
                    <td>173 cm</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Veronika Laušmanová</td>
                    <td>2006</td>
                    <td>173 cm</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Veronika Laušmanová</td>
                    <td>2006</td>
                    <td>173 cm</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Veronika Laušmanová</td>
                    <td>2006</td>
                    <td>173 cm</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Veronika Laušmanová</td>
                    <td>2006</td>
                    <td>173 cm</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Veronika Laušmanová</td>
                    <td>2006</td>
                    <td>173 cm</td>
                  </tr>
                </tbody>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
