.partnersSlider {
  padding-top: 120px;
  padding-bottom: 72px;
  @include media-breakpoint-down(lg) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  h5,
  h6 {
    margin: 0;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;

    font-family: "Teko", sans-serif;
  }

  h6 {
    margin-bottom: 24px;
  }
  &__inner {
    margin-top: 24px;
    // padding-left: 60px;
    // padding-right: 60px;
    @include media-breakpoint-down(lg) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__item {
    display: block;

    padding: 0 10px;
    img {
      max-height: 80px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  .slick-track {
    display: flex;
    align-items: center;
  }
  &__top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding-bottom: 48px;
    border-bottom: 1px solid var(--color-blue-200);
    margin-top: 32px;
    margin-bottom: 48px;
    a {
      height: 54px;
      display: block;
      max-width: 180px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .slider__btn {
    position: absolute;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--color-blue-500);
    border-radius: 8px;
    border: none;
    top: 25%;
    @include media-breakpoint-down(lg) {
      display: none;
    }
    img {
      width: 20px;
      height: 20px;
    }
  }
  .slider__btnprev {
    left: 0px;
    transform: rotate(-180deg);
  }
  .slider__btnnext {
    right: 0;
  }
}
