<section class="partnersSlider">
  <h5>Generální partneŘI</h5>
  <div class="container">
    <div class="partnersSlider__top">
      <a href="#" target="_blank">
        <img src="images/content/partners/p-1.png" loading="lazy" alt="" />
      </a>
      <a href="#" target="_blank">
        <img src="images/content/partners/p-2.png" loading="lazy" alt="" />
      </a>
    </div>
    <h5>partneři</h5>
    <div
      class="row  justify-content-center align-items-center partnersSlider__inner"
    >
      <div class="col-12 col-md-3 text-center">
        <a class=" partnersSlider__item" href="#" target="_blank">
          <img src="images/content/partners/p-3.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class=" partnersSlider__item" href="#" target="_blank">
           <img src="images/content/partners/p-4.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class=" partnersSlider__item" href="#" target="_blank">
           <img src="images/content/partners/p-5.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class=" partnersSlider__item" href="#" target="_blank">
           <img src="images/content/partners/p-6.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class=" partnersSlider__item" href="#" target="_blank">
           <img src="images/content/partners/p-7.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class=" partnersSlider__item" href="#" target="_blank">
          <img src="images/content/partners/p-3.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class=" partnersSlider__item" href="#" target="_blank">
           <img src="images/content/partners/p-4.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class=" partnersSlider__item" href="#" target="_blank">
           <img src="images/content/partners/p-5.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class=" partnersSlider__item" href="#" target="_blank">
           <img src="images/content/partners/p-6.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class=" partnersSlider__item" href="#" target="_blank">
           <img src="images/content/partners/p-7.png" loading="lazy" alt="" />
        </a>
      </div>
  </div>
 
     
    

</section>
