<section class="statistics-section pt-10">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 col-lg-10 mx-auto">
        <div class="header-section">
          <h1 class="h1">Statistiky sezony FORTUNA:NÁRODNÍ LIGA 2022/23</h1>
          <div class="header-section__row">
            <label class="o-select header-section__label">
              <div class="header-section__category">Sezóna</div>
              <select class="js-select">
                <option>Sezona 2</option>
                <option>sezona 3</option>
                <option>FORTUNA:NÁRODNÍ LIGA 2023/24</option>
                <option>sezona 1</option>
                <option>sezona 2</option>
                <option>sezona 3</option>
                <option>sezona 4</option>
                <option>sezona 5</option>
              </select>
            </label>
          </div>
        </div>
        <div class="table-section__content">
         <div class="o-content">
           <p>
             <strong>Vysvětlivky</strong> položek naleznete dole pod tabulkami.
           </p>
           <table>
             <tr>
               <thead>
                 <tr>
                   <th><a href="#">#</a></th>
                   <th><a href="#">BRANKÁŘ</a></th>
                   <th><a href="#">Z</a></th>
                   <th><a href="#">Min</a></th>
                   <th><a href="#">Ink</a></th>
                   <th><a href="#">Nul</a></th>
                   <th><a href="#">VG</a></th>
                   <th><a href="#">ŽK</a></th>
                   <th><a href="#">ČK</a></th>
                   <th><a href="#">HZ</a></th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td>5</td>
                   <td>Jan Štovíček</td>
                   <td>24</td>
                   <td>13</td>
                   <td>77</td>
                   <td>6</td>
                   <td>1</td>
                   <td>34:19</td>
                   <td>99</td>
                   <td>88</td>
                 </tr>
                 <tr>
                   <td>5</td>
                   <td>Jan Štovíček</td>
                   <td>24</td>
                   <td>13</td>
                   <td>77</td>
                   <td>6</td>
                   <td>1</td>
                   <td>34:19</td>
                   <td>99</td>
                   <td>88</td>
                 </tr>
                 <tr>
                   <td>5</td>
                   <td>Jan Štovíček</td>
                   <td>24</td>
                   <td>13</td>
                   <td>77</td>
                   <td>6</td>
                   <td>1</td>
                   <td>34:19</td>
                   <td>99</td>
                   <td>88</td>
                 </tr>
               </tbody>
             </tr>
           </table>
           <table>
            <tr>
              <thead>
                <tr>
                  <th><a href="#">#</a></th>
                  <th><a href="#">HRÁČI V POLI</a></th>
                  <th><a href="#">POST</a></th>
                  <th><a href="#">Z</a></th>
                  <th><a href="#">Min</a></th>
                  <th><a href="#">G</a></th>
                  <th><a href="#">ŽK</a></th>
                  <th><a href="#">ČK</a></th>
                  <th><a href="#">HZ</a></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <tr>
                     <td>5</td>
                     <td>Jan Štovíček</td>
                     <td>24</td>
                     <td>13</td>
                     <td>77</td>
                     <td>6</td>
                     <td>1</td>
                     <td>34:19</td>
                   
                     <td>88</td>
                   </tr>
                   <tr>
                     <td>5</td>
                     <td>Jan Štovíček</td>
                     <td>24</td>
                     <td>13</td>
                     <td>77</td>
                     <td>6</td>
                     <td>1</td>
                     <td>34:19</td>
                     <td>88</td>
                   </tr>
                   <tr>
                     <td>5</td>
                     <td>Jan Štovíček</td>
                     <td>24</td>
                     <td>13</td>
                     <td>77</td>
                     <td>6</td>
                     <td>1</td>
                     <td>34:19</td>
                     <td>88</td>
                   </tr>
                   <tr>
                     <td>5</td>
                     <td>Jan Štovíček</td>
                     <td>24</td>
                     <td>13</td>
                     <td>77</td>
                     <td>6</td>
                     <td>1</td>
                     <td>34:19</td>
                     <td>88</td>
                   </tr>
                   <tr>
                     <td>5</td>
                     <td>Jan Štovíček</td>
                     <td>24</td>
                     <td>13</td>
                     <td>77</td>
                     <td>6</td>
                     <td>1</td>
                     <td>34:19</td>
                     <td>88</td>
                   </tr>
                   <tr>
                     <td>5</td>
                     <td>Jan Štovíček</td>
                     <td>24</td>
                     <td>13</td>
                     <td>77</td>
                     <td>6</td>
                     <td>1</td>
                     <td>34:19</td>
                     <td>88</td>
                   </tr>
   
                  <td>5</td>
                  <td>Jan Štovíček</td>
                  <td>24</td>
                  <td>13</td>
                  <td>77</td>
                  <td>6</td>
                  <td>1</td>
                  <td>34:19</td>
                  <td>88</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Jan Štovíček</td>
                  <td>24</td>
                  <td>13</td>
                  <td>77</td>
                  <td>6</td>
                  <td>1</td>
                  <td>34:19</td>
                  <td>88</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Jan Štovíček</td>
                  <td>24</td>
                  <td>13</td>
                  <td>77</td>
                  <td>6</td>
                  <td>1</td>
                  <td>34:19</td>
                  <td>88</td>
                </tr>
              </tbody>
            </tr>
          </table>
         </div>
         <h2 class="h2 mb-4 mt-5">Vysvětlivky sloupců</h2>
         <div class="row">
            <div class="col-md-6">
              
               <h3 class="h5 mb-2">
                  BRANKÁŘI
               </h3>
               <ul class="mb-5">
                  <li><strong># </strong>- číslo dresu</li>
                  <li>
                     <strong>Z </strong>- počet zápasů, v nichž brankář nastoupil
                  </li>
                  <li>
                     <strong>MIN </strong>- počet odchytaných minut
                  </li>
                  <li>
                     <strong>INK </strong>- počet inkasovaných gólů
                  </li>
                  <li>
                     <strong>NUL </strong>- počet vychytaných nul (pouze odchytá-li 90 minut)
                  </li>
                  <li>
                     <strong>VG </strong>- vstřelené góly
                  </li>
                  <li>
                     <strong>ŽK, ČK </strong>- žluté a červené karty
                  </li>
                  <li>
                     <strong>HZ </strong>- Hráč zápasu (voleno redakcí webu)
                  </li>
               </ul>
              
            </div>
            <div class="col-md-6">
              
               <h3 class="h5 mb-2">
                  HRÁČI V POLI
               </h3>
               <ul class="mb-5 ">
                  <li><strong># </strong>- číslo dresu</li>
                  <li>
                     <strong>Z </strong>- počet zápasů, v nichž brankář nastoupil
                  </li>
                  <li>
                     <strong>MIN </strong>- počet odchytaných minut
                  </li>
                  <li>
                     <strong>G</strong> - góly
                  </li>
                  <li>
                     <strong>ŽK, ČK</strong> - asistence, žluté a červené karty
                  </li>
                  <li>
                     <strong>HZ</strong> - Hráč zápasu (voleno redakcí webu)
                  </li>
                
               </ul>
              
            </div>
         </div>
         <h3 class="h4 mb-2">Kontakt</h3>
         <p>
            Pokud budete mít ke statistikám jakékoliv připomínky nebo otázky, kontaktujte nás prosím na emailu:
            <a href='mailto:weby@esports.cz'>weby@esports.cz</a>.<div class="space">&nbsp;</div>
         </p>
       </div>
      </div>
    </div>
  </div>
</section>
