<section class="team-section pt-10">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 col-lg-10 mx-auto">
        <div class="header-section">
          <h1 class="h1">Soupiska Muži A</h1>
          <div class="header-section__row">
            <label class="o-select header-section__label">
              <div class="header-section__category">Sezóna</div>
              <select class="js-select">
                <option>Sezona 2</option>
                <option>sezona 3</option>
                <option>FORTUNA:NÁRODNÍ LIGA 2023/24</option>
                <option>sezona 1</option>
                <option>sezona 2</option>
                <option>sezona 3</option>
                <option>sezona 4</option>
                <option>sezona 5</option>
              </select>
            </label>
          </div>
        </div>
        <h2 class="h3">Brankáři</h2>
        <ul class="team-section__inner">
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
        </ul>
        <h2 class="h3">Obránci</h2>
        <ul class="team-section__inner">
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/test.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
        </ul>
        <h2 class="h3">Záložníci</h2>
        <ul class="team-section__inner">
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/test.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/test.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/test.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
        </ul>
        <h2 class="h3">Útočníci</h2>
        <ul class="team-section__inner">
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/test.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/test.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/test.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
          <li class="">
            <div class="team-section__item">
              <div class="team-section__img">
                <img
                  src="images/content/player-default.jpeg"
                  alt="player"
                  loading="lazy"
                />
                <span>15</span>
              </div>
              <h3 class="h4"><span>Viktor</span>Budinský</h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
