<section class="match-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 mx-auto">
        <div class="article-section__img">
          <img src="images/content/post.jpeg" loading="lazy" alt="post" />
          <div class="article-section__content">
            <div class="tag">Mládež</div>
            <h1 class="h1">
              Spartě jsme nedali šanci. Vezeme 3 body za vítězství 3:1.
            </h1>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-10 mx-auto">
        <div class="perex">
          Perex Letošní závody v rakouském středisku jsou natlačeny do pouhých
          tří dnů, ve kterých se odjede celkem šest závodů. Půlhodinku před
          polednem to v pátek 8. prosince odstartuje mužský sprint, odpoledne je
          pak nejkratší individuální závod připraven i pro ženy.
        </div>

        <div class="match-section__box">
          <div class="match-section__date">Středa 12.2.2024 - 18:00</div>
          <div class="match-section__place">Městský stadion Kladno</div>
          <div class="match-section__logos">
            <div class="match-section__logo">
              <img src="images/content/club-3.png" loading="lazy" alt="team" />
            </div>
            <span>VS</span>
            <div class="match-section__logo">
              <img src="images/content/club.png" loading="lazy" alt="team" />
            </div>
          </div>
          <div class="match-section__info">
            <h3 class="match-section__teams">
              <span>SK Sigma Olomouc</span>
              <span>SK Kladno</span>
            </h3>
            <div class="match-section__result lose">2:1 <span>(1:0)</span></div>
          </div>
        </div>
        <div class="match-section__statistics">
          <ul>
            <li><strong>Branky: </strong> 24´ Peška, 71´ Juritka</li>
            <li>
              <strong>Rozhodčí: </strong>Ehrenberger - Silný, Půček (Piňos)
            </li>
            <li><strong>Diváci: </strong>112</li>
            <li><strong>ŽK: </strong> 1-1</li>
            <li><strong>ČK: </strong>1-0 (Šlapanský)</li>
          </ul>
          <p>
            <strong>Sestava SK Sigma Olomouc:</strong>
            Hložánek - Vít, Pragr (46´ Kluska), Šmíd, Šlapanský, Juritka (78´
            Hlucháň), Strnad, Peška, Martinek (78´ Pavlík), Kohoutek (71´
            Kolečkář), Štěpanovský (81´ Džavoronok)
          </p>
          <p>
            <strong>Sestava SK Kladno:</strong>
            Mazánek - M. Pavlík, Hloušek, Cakl, Fikar (84´ Pabousek), Pavlas
            (86´ Malimánek), Miška, A. Novák, Víšek (46´ Válek), Dočkal, J.
            Pavlík (78´ Vrzal)
          </p>
        </div>
        <div class="o-content">
          <h4>Reportáž</h4>
          <p>
            Letošní závody v rakouském středisku jsou natlačeny do pouhých tří
            dnů, ve kterých se odjede celkem šest závodů. Půlhodinku před
            polednem to v pátek 8. prosince odstartuje mužský sprint, odpoledne
            je pak nejkratší individuální závod připraven i pro ženy.
          </p>
          <p>
            V sobotu v 12:15 čeká na muže stíhací závod, o dvě a půl hodiny
            později se na trať stíhačky dostanou i ženy. Závěrečný, nedělní den
            bude ve znamení týmových závodů. Nejprve se na start postaví štafety
            mužů a celou zastávku v Hochfilzenu ukončí ženské čtveřice.
            <br />
            Ipsum sit mattis nulla quam nulla. Gravida id gravida ac enim mauris
            id. Non pellentesque congue eget consectetur turpis. Sapien, dictum
            molestie sem tempor. Diam elit, orci, tincidunt aenean tempus. Quis
            velit eget ut tortor tellus. Sed vel, congue felis elit erat nam
            nibh orci.
          </p>
          <q>
            <p>
              “Přímé přenosy jsou pro fanoušky biatlonu připraveny jako každý
              rok na sportovním kanálu České televize ČT Sport. Stejně tak je
              možné na ČT Sport všechny závody zhlédnout zpětně ze záznamu.”
            </p>
            <span>— Anežka Němcová, Česká televize</span>
          </q>
          <p>
            Fanoušci mohli Tomáše Lachmana vídat na obrazovkách ČT Sport od roku
            2008, kdy začal biatlonové dění glosovat. Od té doby komentoval
            nespočet kol Světového poháru a z komentátorských stanovišť sledoval
            závody několika evropských i světových mistrovství. Před kamerou a
            za mikrofonem ho v současnosti ale už nenajdeme, otázkou zůstává,
            jestli se bude moct ještě někdy vrátit. Začátkem května se mu totiž
            život otočil naruby.
          </p>
          <p>
            Fanoušci mohli Tomáše Lachmana vídat na obrazovkách ČT Sport od roku
            2008, kdy začal biatlonové dění glosovat. Od té doby komentoval
            nespočet kol Světového poháru a z komentátorských stanovišť sledoval
            závody několika evropských i světových mistrovství. Před kamerou a
            za mikrofonem ho v současnosti ale už nenajdeme, otázkou zůstává,
            jestli se bude moct ještě někdy vrátit. Začátkem května se mu totiž
            život otočil naruby.
          </p>
          <h5>Související téma</h5>
          <p>
            Česká televize sháněla náhradu, při své snaze narazila na opravdový
            diamant. Tím je bývalá biatlonistka, trojnásobná medailistka z
            olympijských her a dvojnásobná mistryně světa Gabriela Soukalová.
            34letá komentátorka si novou roli vyzkouší už dnes, 29. listopadu.
            „Těším se na novou výzvu a i na to, že uvidím biatlon z úplně jiného
            pohledu,“ uvedla Soukalová v tiskové zprávě, která byla poskytnuta
            redakci Sport.cz.
          </p>

          <h5>
            Biatlonovou superhvězdu zadržela policie. Může jí hrozit až pětileté
            vězení
          </h5>
          <p>
            Sagittis et eu at elementum, quis in. Proin praesent volutpat
            egestas sociis sit lorem nunc nunc sit. Eget diam curabitur mi ac.
            Auctor rutrum lacus malesuada massa ornare et. Vulputate consectetur
            ac ultrices at diam dui eget fringilla tincidunt. Arcu sit dignissim
            massa erat cursus vulputate gravida id. Sed quis auctor vulputate
            hac elementum gravida cursus dis.
          </p>
          <ul>
            <li>Lectus id duis vitae porttitor enim gravida morbi.</li>
            <li>
              Eu turpis posuere semper feugiat volutpat elit, ultrices
              suspendisse. Auctor vel in vitae placerat.
            </li>
            <li>
              Suspendisse maecenas ac donec scelerisque diam sed est duis purus.
            </li>
          </ul>
          <figure>
            <p>
              <img
                src="images/content/post-2.jpeg"
                loading="lazy"
                alt="story"
              />
            </p>
            <figcaption>
              Image courtesy of Michael Burrows via
              <a href="#" target="_blank">Pexels</a>
            </figcaption>
          </figure>
          <div class="article-section__photo">
            <div class="article-section__author"></div>
          </div>
          <p>
            Až do třetí střelby to Simonové v jednotlivcích šlo v Östersundu
            vcelku podle plánu. Od té doby to ale šlo s Francouzkou z kopce.
            Sedmadvacetiletá závodnice chybovala zprvu minimálně, v závěrečné
            střelbě ale minula tři terče. Celkem se čtyřmi trestnými minutami
            propadla na 31. místo. „Hořká porážka,“ přiznala pro L'Équipe po
            závodě a přidala další vysvětlující slova.
          </p>
          <p>
            „Chyběla mi mentální svěžest. Je zvláštní, že to říkám po prvním
            závodě, ale jsem psychicky vyčerpaná. Není to závod, na který bych
            měla snad zapomenout, ale musím znovu najít mentální svěžest, abych
            to zvládla. a dokázala se znovu soustředit v rozhodujících
            okamžicích,“ vysvětlovala Simonová, která svůj stav na konci
            individuálního závodu označila za zhroucení.
          </p>
          <ol>
            <li>Lectus id duis vitae porttitor enim gravida morbi.</li>
            <li>
              Eu turpis posuere semper feugiat volutpat elit, ultrices
              suspendisse. Auctor vel in vitae placerat.
            </li>
            <li>
              Suspendisse maecenas ac donec scelerisque diam sed est duis purus.
            </li>
          </ol>
          <p>
            Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat
            mollis at volutpat lectus velit, sed auctor. Porttitor fames arcu
            quis fusce augue enim. Quis at habitant diam at. Suscipit tristique
            risus, at donec. In turpis vel et quam imperdiet. Ipsum molestie
            aliquet sodales id est ac volutpat.
          </p>
        </div>
        {% include "@components/gallery/gallery.twig" %}
      </div>
    </div>
  </div>
</section>
