<div class="hp-social">
  <div class="row g-4" data-masonry='{"percentPosition": true }'>
    <div class=" col-xl-4 col-6">
      <a href="#" target="_blank" class="hp-social__item card">
        <div class="hp-social__img">
          <img src="images/content/s-1.jpeg" alt="" />
          <div class="tag">Mládež</div>
        </div>
        <p>Něco pro vás dnes chystáme, Kladeňáci!</p>
      </a>
    </div>
    <div class=" col-xl-4 col-6">
      <a href="#" target="_blank" class="hp-social__item card">
        <div class="hp-social__img">
          <img src="images/content/s-2.jpeg" alt="" />
          <div class="tag">Mládež</div>
        </div>
        <p>
          B-tým odehrál první přípravné utkání v tomto roce. Proti prvnímu celku
          I.B třídy @afkluzec zvítězil vysoko 8:0!
        </p>
      </a>
    </div>
    <div class=" col-xl-4 col-6">
      <a href="#" target="_blank" class="hp-social__item card">
        <div class="hp-social__img">
          <img src="images/content/s-3.jpeg" alt="" />
          <div class="tag">A-Tým</div>
        </div>
        <p>
          Trenéři, rádi jsme Vás na Kladně znovu viděli a přejeme hodně štěstí v
          jarní části ČFL!
        </p>
      </a>
    </div>
    <div class=" col-xl-4 col-6">
      <a href="#" target="_blank" class="hp-social__item card">
        <div class="hp-social__img">
          <img src="images/content/s-4.jpeg" alt="" />
          <div class="tag">A-Tým</div>
        </div>
        <p>
          Během druhé půle na hřišti dojde k následujícím personálním změnám!
        </p>
      </a>
    </div>
    <div class=" col-xl-4 col-6">
      <a href="#" target="_blank" class="hp-social__item card">
        <div class="hp-social__img">
          <img src="images/content/s-5.jpeg" alt="" />
          <div class="tag">A-Tým</div>
        </div>
        <p>
          Zítra odehrajeme přípravné utkání se Spartou Kolín - devátým týmem ČFL
          a zároveň aktuálním zaměstnavatelem bývalého trenéra našeho týmu
          Františka Douděry. Více o zítřejším utkání najdete v Preview na našem
          webu
        </p>
      </a>
    </div>
    <div class=" col-xl-4 col-6">
      <a href="#" target="_blank" class="hp-social__item card">
        <div class="hp-social__img">
          <img src="images/content/s-6.jpeg" alt="" />
          <div class="tag">A-Tým</div>
        </div>
        <p>Na zmrzlou kladenskou umělku v 10:00 vyběhne následující sestava!</p>
      </a>
    </div>
  </div>
</div>
