<section class="partners-section pt-10">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 col-lg-10 mx-auto">
        <h1 class="h1 mb-5">Partneři klubu</h1>
        <div class="partners-section__wrapper">
          <h2 class="h3">GENERÁLNÍ PARTNEŘI</h2>
          <div class="row g-4 justify-content-center align-items-center">
            <div class="col-lg-4 col-sm-6">
              <a class="partners-section__item" href="#" target="_blank">
                <img
                  src="images/content/partners/p-1.png"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a class="partners-section__item" href="#" target="_blank">
                <img
                  src="images/content/partners/p-1.png"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a class="partners-section__item" href="#" target="_blank">
                <img
                  src="images/content/partners/p-3.png"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a class="partners-section__item" href="#" target="_blank">
                <img
                  src="images/content/partners/p-2.png"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
        <div class="partners-section__wrapper">
          <h2 class="h3">Hlavní PARTNEŘI</h2>
          <div class="row g-4 justify-content-center align-items-center">
            <div class="col-xl-3 col-md-4 col-6">
              <a class="partners-section__item" href="#" target="_blank">
                <img
                  src="images/content/partners/p-1.png"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-xl-3 col-md-4 col-6">
              <a class="partners-section__item" href="#" target="_blank">
                <img
                  src="images/content/partners/p-6.png"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-xl-3 col-md-4 col-6">
              <a class="partners-section__item" href="#" target="_blank">
                <img
                  src="images/content/partners/p-3.png"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-xl-3 col-md-4 col-6">
              <a class="partners-section__item" href="#" target="_blank">
                <img
                  src="images/content/partners/p-5.png"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-xl-3 col-md-4 col-6">
              <a class="partners-section__item" href="#" target="_blank">
                <img
                  src="images/content/partners/p-1.png"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
        <div class="partners-section__wrapper">
          <h2 class="h3">PARTNEŘI</h2>
          <div class="row g-4 justify-content-center align-items-center">
            <div class="col-xl-3 col-md-4 col-6">
              <a class="partners-section__item" href="#" target="_blank">
                <img
                  src="images/content/partners/p-1.png"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-xl-3 col-md-4 col-6">
              <a class="partners-section__item" href="#" target="_blank">
                <img
                  src="images/content/partners/p-6.png"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-xl-3 col-md-4 col-6">
              <a class="partners-section__item" href="#" target="_blank">
                <img
                  src="images/content/partners/p-3.png"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-xl-3 col-md-4 col-6">
              <a class="partners-section__item" href="#" target="_blank">
                <img
                  src="images/content/partners/p-5.png"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
            <div class="col-xl-3 col-md-4 col-6">
              <a class="partners-section__item" href="#" target="_blank">
                <img
                  src="images/content/partners/p-1.png"
                  loading="lazy"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
