<section class="photogallery-section pt-10 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 col-lg-10 mx-auto">
        <div class="header-section">
          <h1 class="h1">Fotogalerie</h1>
          <div class="header-section__row">
            <label class="o-select header-section__label">
              <div class="header-section__category">Kategorie</div>
              <select class="js-select">
                <option>Sezona 2</option>
                <option>sezona 3</option>
                <option>FORTUNA:NÁRODNÍ LIGA 2023/24</option>
                <option>sezona 1</option>
                <option>sezona 2</option>
                <option>sezona 3</option>
                <option>sezona 4</option>
                <option>sezona 5</option>
              </select>
            </label>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-lg-4 col-sm-6">
            <a
              class="post"
              href="#"
              data-source="/sk-kladno/build/ajax-gallery.json"
              data-gallery-id="1"
            >
              <img src="images/content/post.jpeg" loading="lazy" alt="post" />
              <div class="post__content">
                <h2 class="post__title">
                  Spartě jsme nedali šanci. Vezeme 3 body za vítězství 3:1.
                </h2>
                <ul class="post__descr">
                  <li>12.2.2024</li>
                </ul>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a
              class="post"
              href="#"
              data-source="/sk-kladno/build/ajax-gallery.json"
              data-gallery-id="2"
            >
              <img src="images/content/post.jpeg" loading="lazy" alt="post" />
              <div class="post__content">
                <h2 class="post__title">
                  Spartě jsme nedali šanci. Vezeme 3 body za vítězství 3:1.
                </h2>
                <ul class="post__descr">
                  <li>12.2.2024</li>
                </ul>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a
              class="post"
              href="#"
              data-source="/sk-kladno/build/ajax-gallery.json"
              data-gallery-id="1"
            >
              <img src="images/content/post.jpeg" loading="lazy" alt="post" />
              <div class="post__content">
                <h2 class="post__title">
                  Spartě jsme nedali šanci. Vezeme 3 body za vítězství 3:1.
                </h2>
                <ul class="post__descr">
                  <li>12.2.2024</li>
                </ul>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a
              class="post"
              href="#"
              data-source="/sk-kladno/build/ajax-gallery.json"
              data-gallery-id="1"
            >
              <img src="images/content/post.jpeg" loading="lazy" alt="post" />
              <div class="post__content">
                <h2 class="post__title">
                  Spartě jsme nedali šanci. Vezeme 3 body za vítězství 3:1.
                </h2>
                <ul class="post__descr">
                  <li>12.2.2024</li>
                </ul>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a
              class="post"
              href="#"
              data-source="/sk-kladno/build/ajax-gallery.json"
              data-gallery-id="1"
            >
              <img src="images/content/post.jpeg" loading="lazy" alt="post" />
              <div class="post__content">
                <h2 class="post__title">
                  Spartě jsme nedali šanci. Vezeme 3 body za vítězství 3:1.
                </h2>
                <ul class="post__descr">
                  <li>12.2.2024</li>
                </ul>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a
              class="post"
              href="#"
              data-source="/sk-kladno/build/ajax-gallery.json"
              data-gallery-id="1"
            >
              <img src="images/content/post.jpeg" loading="lazy" alt="post" />
              <div class="post__content">
                <h2 class="post__title">
                  Spartě jsme nedali šanci. Vezeme 3 body za vítězství 3:1.
                </h2>
                <ul class="post__descr">
                  <li>12.2.2024</li>
                </ul>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a
              class="post"
              href="#"
              data-source="/sk-kladno/build/ajax-gallery.json"
              data-gallery-id="1"
            >
              <img src="images/content/post.jpeg" loading="lazy" alt="post" />
              <div class="post__content">
                <h2 class="post__title">
                  Spartě jsme nedali šanci. Vezeme 3 body za vítězství 3:1.
                </h2>
                <ul class="post__descr">
                  <li>12.2.2024</li>
                </ul>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a
              class="post"
              href="#"
              data-source="/sk-kladno/build/ajax-gallery.json"
              data-gallery-id="1"
            >
              <img src="images/content/post.jpeg" loading="lazy" alt="post" />
              <div class="post__content">
                <h2 class="post__title">
                  Spartě jsme nedali šanci. Vezeme 3 body za vítězství 3:1.
                </h2>
                <ul class="post__descr">
                  <li>12.2.2024</li>
                </ul>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a
              class="post"
              href="#"
              data-source="/sk-kladno/build/ajax-gallery.json"
              data-gallery-id="1"
            >
              <img src="images/content/post.jpeg" loading="lazy" alt="post" />
              <div class="post__content">
                <h2 class="post__title">
                  Spartě jsme nedali šanci. Vezeme 3 body za vítězství 3:1.
                </h2>
                <ul class="post__descr">
                  <li>12.2.2024</li>
                </ul>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a
              class="post"
              href="#"
              data-source="/sk-kladno/build/ajax-gallery.json"
              data-gallery-id="1"
            >
              <img src="images/content/post.jpeg" loading="lazy" alt="post" />
              <div class="post__content">
                <h2 class="post__title">
                  Spartě jsme nedali šanci. Vezeme 3 body za vítězství 3:1.
                </h2>
                <ul class="post__descr">
                  <li>12.2.2024</li>
                </ul>
              </div>
            </a>
          </div>
        </div>
        <nav aria-label="Další stránky">
          <ul
            class="pagination d-flex flex-wrap pagination-flat pagination-success"
          >
            <li class="page-item active">
              <a class="page-link" href="#" data-abc="true">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true"> »</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
