.table-section,
.statistics-section,
.players-section {
  padding-bottom: 80px;
  @include media-breakpoint-down(lg) {
    padding-bottom: 60px;
  }

  table {
    border: 1px solid var(--color-blue-200);
    box-shadow: 0px 24px 48px -12px #1018282e;
    border-radius: 8px;
    .kladno {
      td {
        font-weight: 700;
        color: var(--color-blue-400);
      }
    }
    th:first-child,
    td:first-child {
      width: 50px;
    }
    th:first-child,
    td:first-child,
    th:nth-child(2),
    td:nth-child(2) {
      text-align: left;
    }

    td {
      width: 80px;
      vertical-align: middle;
    }
    td:nth-child(2) {
      width: auto;
    }
    img {
      width: 20px;
      height: auto;
      object-fit: contain;
      display: inline-block;
      margin: 0;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  ul {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--color-dark);
  }
}
.table-responsive + .table-responsive {
  margin-top: 32px;
}
