<section class="archive-section pt-10">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 col-lg-10 mx-auto">
        <div class="header-section">
          <h1 class="h1">Tabulka</h1>
          <div class="header-section__row">
            <label class="o-select header-section__label">
              <div class="header-section__category">Kategorie</div>
              <select class="js-select">
                <option>Sezona 2</option>
                <option>sezona 3</option>
                <option>FORTUNA:NÁRODNÍ LIGA 2023/24</option>
                <option>sezona 1</option>
                <option>sezona 2</option>
                <option>sezona 3</option>
                <option>sezona 4</option>
                <option>sezona 5</option>
              </select>
            </label>
          </div>
        </div>
        <div class="table-section__content">
          <div class="o-content">
            <table>
              <tr>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Tým</th>
                    <th>Z</th>
                    <th>V</th>
                    <th>R</th>
                    <th>P</th>
                    <th>B</th>
                    <th>Skóre</th>
                    <th>RG</th>
                    <th>+/-</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>5</td>
                    <td>
                      <img
                        src="images/content/club-2.png"
                        loading="lazy"
                        alt="logo"
                      />
                      FC Sellier & Bellot Vlašim
                    </td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>34:19</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>
                      <img
                        src="images/content/club-2.png"
                        loading="lazy"
                        alt="logo"
                      />
                      FC Sellier & Bellot Vlašim
                    </td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>34:19</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>
                      <img
                        src="images/content/club-2.png"
                        loading="lazy"
                        alt="logo"
                      />
                      FC Sellier & Bellot Vlašim
                    </td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>34:19</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>
                      <img
                        src="images/content/club-2.png"
                        loading="lazy"
                        alt="logo"
                      />
                      FC Sellier & Bellot Vlašim
                    </td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>34:19</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                  <tr class="kladno">
                    <td>5</td>
                    <td>
                      <img
                        src="images/ico/logo.svg"
                        loading="lazy"
                        alt="logo"
                      />
                      FK Dukla Praha
                    </td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>34:19</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>
                      <img
                        src="images/content/club-2.png"
                        loading="lazy"
                        alt="logo"
                      />
                      FC Sellier & Bellot Vlašim
                    </td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>34:19</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>
                      <img
                        src="images/content/club-2.png"
                        loading="lazy"
                        alt="logo"
                      />
                      FC Sellier & Bellot Vlašim
                    </td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>34:19</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>
                      <img
                        src="images/content/club-2.png"
                        loading="lazy"
                        alt="logo"
                      />
                      FC Sellier & Bellot Vlašim
                    </td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>34:19</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>
                      <img
                        src="images/content/club-2.png"
                        loading="lazy"
                        alt="logo"
                      />
                      FC Sellier & Bellot Vlašim
                    </td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>34:19</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>
                      <img
                        src="images/content/club-2.png"
                        loading="lazy"
                        alt="logo"
                      />
                      FC Sellier & Bellot Vlašim
                    </td>
                    <td>24</td>
                    <td>13</td>
                    <td>77</td>
                    <td>6</td>
                    <td>1</td>
                    <td>34:19</td>
                    <td>99</td>
                    <td>88</td>
                  </tr>
                </tbody>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
