<section class="archive-section pt-10 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 col-lg-10 mx-auto">
        <div class="header-section mb-10">
          <h1 class="h1 mb-4">Archiv článků</h1>
          <div class="header-section__row">
            <form action="" class="header-section__form header-section__label">
              <div class="header-section__category">Vyhledávání</div>
              <div class="header-section__input">
                <input type="text" placeholder="Hledaný text" />
                <button class="header-section__btn">
                  <img
                    src="images/ico/search-menu.svg"
                    loading="lazy"
                    alt="search-menu"
                  />
                </button>
              </div>
            </form>

            <label class="o-select header-section__label">
              <div class="header-section__category">Kategorie</div>
              <select class="js-select">
                <option>Kategorie</option>
                <option>Aktuální zprávy</option>
                <option>Rozhovory</option>
                <option>Reportáže</option>
                <option>Mládež</option>
                <option>Tiskové zprávy</option>
                <option>Soutěže a akce pro fanoušky</option>
                <option>Preview k zápasu</option>
                <option>Ohlasy po utkání</option>
                <option>Sledge – článek</option>
                <option>Sledge – reportáž</option>
                <option>Historie</option>
                <option>Fan Club</option>
              </select>
            </label>
            <label class="o-select header-section__label">
              <div class="header-section__category">Sezóna</div>
              <select class="js-select">
                <option>Sezona 2</option>
                <option>sezona 3</option>
                <option>FORTUNA:NÁRODNÍ LIGA 2023/24</option>
                <option>sezona 1</option>
                <option>sezona 2</option>
                <option>sezona 3</option>
                <option>sezona 4</option>
                <option>sezona 5</option>
              </select>
            </label>
          </div>
        </div>
        <div class="archive-section__inner">
          <div class="archive-section__item">
            <div class="row g-4">
              <div class="col-lg-4">
                <a href="#" class="archive-section__img">
                  <img
                    src="images/content/post.jpeg"
                    loading="lazy"
                    alt="clanek"
                  />
                  <div class="tag">Kategorie</div>
                </a>
              </div>
              <div class="col-lg-8">
                <div class="archive-section__content">
                  <div class="archive-section__date">12.2.2024</div>
                  <a href="#">
                    <h2 class="h4">
                      Spartě jsme nedali šanci. Vezeme 3 body za vítězství 3:1.
                    </h2>
                  </a>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Nobis, possimus vel? Optio repellat eum similique eaque
                    exercitationem laudantium possimus deserunt, ex minus itaque
                    temporibus voluptas error iusto sit ducimus velit?
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="archive-section__item">
            <div class="row g-4">
              <div class="col-lg-4">
                <a href="#" class="archive-section__img">
                  <img
                    src="images/content/post.jpeg"
                    loading="lazy"
                    alt="clanek"
                  />
                  <div class="tag">Kategorie</div>
                </a>
              </div>
              <div class="col-lg-8">
                <div class="archive-section__content">
                  <div class="archive-section__date">12.2.2024</div>
                  <a href="#">
                    <h2 class="h4">
                      Spartě jsme nedali šanci. Vezeme 3 body za vítězství 3:1.
                    </h2>
                  </a>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Nobis, possimus vel? Optio repellat eum similique eaque
                    exercitationem laudantium possimus deserunt, ex minus itaque
                    temporibus voluptas error iusto sit ducimus velit?
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="archive-section__item">
            <div class="row g-4">
              <div class="col-lg-4">
                <a href="#" class="archive-section__img">
                  <img
                    src="images/content/post.jpeg"
                    loading="lazy"
                    alt="clanek"
                  />
                  <div class="tag">Kategorie</div>
                </a>
              </div>
              <div class="col-lg-8">
                <div class="archive-section__content">
                  <div class="archive-section__date">12.2.2024</div>
                  <a href="#">
                    <h2 class="h4">
                      Spartě jsme nedali šanci. Vezeme 3 body za vítězství 3:1.
                    </h2>
                  </a>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Nobis, possimus vel? Optio repellat eum similique eaque
                    exercitationem laudantium possimus deserunt, ex minus itaque
                    temporibus voluptas error iusto sit ducimus velit?
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="archive-section__item">
            <div class="row g-4">
              <div class="col-lg-4">
                <a href="#" class="archive-section__img">
                  <img
                    src="images/content/post.jpeg"
                    loading="lazy"
                    alt="clanek"
                  />
                  <div class="tag">Kategorie</div>
                </a>
              </div>
              <div class="col-lg-8">
                <div class="archive-section__content">
                  <div class="archive-section__date">12.2.2024</div>
                  <a href="#">
                    <h2 class="h4">
                      Spartě jsme nedali šanci. Vezeme 3 body za vítězství 3:1.
                    </h2>
                  </a>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Nobis, possimus vel? Optio repellat eum similique eaque
                    exercitationem laudantium possimus deserunt, ex minus itaque
                    temporibus voluptas error iusto sit ducimus velit?
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="archive-section__item">
            <div class="row g-4">
              <div class="col-lg-4">
                <a href="#" class="archive-section__img">
                  <img
                    src="images/content/post.jpeg"
                    loading="lazy"
                    alt="clanek"
                  />
                  <div class="tag">Kategorie</div>
                </a>
              </div>
              <div class="col-lg-8">
                <div class="archive-section__content">
                  <div class="archive-section__date">12.2.2024</div>
                  <a href="#">
                    <h2 class="h4">
                      Spartě jsme nedali šanci. Vezeme 3 body za vítězství 3:1.
                    </h2>
                  </a>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Nobis, possimus vel? Optio repellat eum similique eaque
                    exercitationem laudantium possimus deserunt, ex minus itaque
                    temporibus voluptas error iusto sit ducimus velit?
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="archive-section__item">
            <div class="row g-4">
              <div class="col-lg-4">
                <a href="#" class="archive-section__img">
                  <img
                    src="images/content/post.jpeg"
                    loading="lazy"
                    alt="clanek"
                  />
                  <div class="tag">Kategorie</div>
                </a>
              </div>
              <div class="col-lg-8">
                <div class="archive-section__content">
                  <div class="archive-section__date">12.2.2024</div>
                  <a href="#">
                    <h2 class="h4">
                      Spartě jsme nedali šanci. Vezeme 3 body za vítězství 3:1.
                    </h2>
                  </a>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Nobis, possimus vel? Optio repellat eum similique eaque
                    exercitationem laudantium possimus deserunt, ex minus itaque
                    temporibus voluptas error iusto sit ducimus velit?
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="archive-section__item">
            <div class="row g-4">
              <div class="col-lg-4">
                <a href="#" class="archive-section__img">
                  <img
                    src="images/content/post.jpeg"
                    loading="lazy"
                    alt="clanek"
                  />
                  <div class="tag">Kategorie</div>
                </a>
              </div>
              <div class="col-lg-8">
                <div class="archive-section__content">
                  <div class="archive-section__date">12.2.2024</div>
                  <a href="#">
                    <h2 class="h4">
                      Spartě jsme nedali šanci. Vezeme 3 body za vítězství 3:1.
                    </h2>
                  </a>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Nobis, possimus vel? Optio repellat eum similique eaque
                    exercitationem laudantium possimus deserunt, ex minus itaque
                    temporibus voluptas error iusto sit ducimus velit?
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="archive-section__item">
            <div class="row g-4">
              <div class="col-lg-4">
                <a href="#" class="archive-section__img">
                  <img
                    src="images/content/post.jpeg"
                    loading="lazy"
                    alt="clanek"
                  />
                  <div class="tag">Kategorie</div>
                </a>
              </div>
              <div class="col-lg-8">
                <div class="archive-section__content">
                  <div class="archive-section__date">12.2.2024</div>
                  <a href="#">
                    <h2 class="h4">
                      Spartě jsme nedali šanci. Vezeme 3 body za vítězství 3:1.
                    </h2>
                  </a>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Nobis, possimus vel? Optio repellat eum similique eaque
                    exercitationem laudantium possimus deserunt, ex minus itaque
                    temporibus voluptas error iusto sit ducimus velit?
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav aria-label="Další stránky">
          <ul
            class="pagination d-flex flex-wrap pagination-flat pagination-success"
          >
            <li class="page-item active">
              <a class="page-link" href="#" data-abc="true">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true"> »</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
