<div class="gallery">
  <h5 class="h5 mb-3">Fotogalerie</h5>
  <div class="row g-3">
    <div class="col-lg-3 col-sm-4 col-6">
      <a
        href="#"
        class="gallery__item"
        data-source="/sk-kladno/build/ajax-gallery.json"
        data-gallery-id="1"
      >
        <img src="https://picsum.photos/1200/800" loading="lazy" alt="blog" />
      </a>
    </div>
    <div class="col-lg-3 col-sm-4 col-6">
      <a
        href="#"
        class="gallery__item"
        data-source="/sk-kladno/build/ajax-gallery.json"
        data-gallery-id="2"
      >
        <img src="https://picsum.photos/1200/800" loading="lazy" alt="blog" />
      </a>
    </div>
    <div class="col-lg-3 col-sm-4 col-6">
      <a
        href="#"
        class="gallery__item"
        data-source="/sk-kladno/build/ajax-gallery.json"
        data-gallery-id="3"
      >
        <img src="https://picsum.photos/1200/800" loading="lazy" alt="blog" />
      </a>
    </div>
    <div class="col-lg-3 col-sm-4 col-6">
      <a
        href="#"
        class="gallery__item"
        data-source="/sk-kladno/build/ajax-gallery.json"
        data-gallery-id="4"
      >
        <img src="https://picsum.photos/1200/800" loading="lazy" alt="blog" />
      </a>
    </div>
    <div class="col-lg-3 col-sm-4 col-6">
      <a
        href="#"
        class="gallery__item"
        data-source="/sk-kladno/build/ajax-gallery.json"
        data-gallery-id="5"
      >
        <img src="https://picsum.photos/1200/800" loading="lazy" alt="blog" />
      </a>
    </div>
    <div class="col-lg-3 col-sm-4 col-6">
      <a
        href="#"
        class="gallery__item"
        data-source="/sk-kladno/build/ajax-gallery.json"
        data-gallery-id="6"
      >
        <img src="https://picsum.photos/1200/800" loading="lazy" alt="blog" />
      </a>
    </div>
    <div class="col-lg-3 col-sm-4 col-6">
      <a
        href="#"
        class="gallery__item"
        data-source="/sk-kladno/build/ajax-gallery.json"
        data-gallery-id="7"
      >
        <img src="https://picsum.photos/1200/800" loading="lazy" alt="blog" />
      </a>
    </div>
    <div class="col-lg-3 col-sm-4 col-6">
      <a
        href="#"
        class="gallery__item"
        data-source="/sk-kladno/build/ajax-gallery.json"
        data-gallery-id="8"
      >
        <img src="https://picsum.photos/1200/800" loading="lazy" alt="blog" />
        <span>+28</span>
      </a>
    </div>
  </div>
</div>
