<section class="matches-section pt-10 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 col-lg-10 mx-auto">
        <div class="header-section mb-10">
          <h1 class="h1 mb-4">Zápasy</h1>
          <div class="header-section__row w-100">
            <form action="" class="header-section__form header-section__label">
              <div class="header-section__category">Vyhledávání</div>
              <div class="header-section__input">
                <input type="text" placeholder="Hledaný text" />
                <button class="header-section__btn">
                  <img
                    src="images/ico/search-menu.svg"
                    loading="lazy"
                    alt="search-menu"
                  />
                </button>
              </div>
            </form>

            <label class="o-select header-section__label">
              <div class="header-section__category">Kategorie</div>
              <select class="js-select">
                <option>Kategorie</option>
                <option>Aktuální zprávy</option>
                <option>Rozhovory</option>
                <option>Reportáže</option>
                <option>Mládež</option>
                <option>Tiskové zprávy</option>
                <option>Soutěže a akce pro fanoušky</option>
                <option>Preview k zápasu</option>
                <option>Ohlasy po utkání</option>
                <option>Sledge – článek</option>
                <option>Sledge – reportáž</option>
                <option>Historie</option>
                <option>Fan Club</option>
              </select>
            </label>
            <label class="o-select header-section__label">
              <div class="header-section__category">Sezóna</div>
              <select class="js-select">
                <option>Sezona 2</option>
                <option>sezona 3</option>
                <option>FORTUNA:NÁRODNÍ LIGA 2023/24</option>
                <option>sezona 1</option>
                <option>sezona 2</option>
                <option>sezona 3</option>
                <option>sezona 4</option>
                <option>sezona 5</option>
              </select>
            </label>
          </div>
        </div>
        <div class="matches-section__inner">
          <h2 class="h3">Leden</h2>
          <div class="matches-section__item">
            <div class="matches-section__box">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img
                    src="images/content/club-3.png"
                    loading="lazy"
                    alt="team"
                  />
                </div>
                <div class="matches-section__log">
                  <img
                    src="images/content/club.png"
                    loading="lazy"
                    alt="team"
                  />
                </div>
              </div>
              <div class="matches-section__info">
                <div class="matches-section__date">1. kolo, so 22.7.2023</div>
                <h3 class="h4">
                  <span>SK Sigma Olomouc</span> -
                  <span class="kladno">SK Kladno</span>
                </h3>
              </div>
            </div>
            <a href="#" class="matches-section__result win">3:1</a>
          </div>
          <div class="matches-section__item">
            <div class="matches-section__box">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img
                    src="images/content/club-3.png"
                    loading="lazy"
                    alt="team"
                  />
                </div>
                <div class="matches-section__log">
                  <img
                    src="images/content/club.png"
                    loading="lazy"
                    alt="team"
                  />
                </div>
              </div>
              <div class="matches-section__info">
                <div class="matches-section__date">1. kolo, so 22.7.2023</div>
                <h3 class="h4">
                  <span>SK Sigma Olomouc</span> -
                  <span class="kladno">SK Kladno</span>
                </h3>
              </div>
            </div>
            <a href="#" class="matches-section__result">18:00</a>
          </div>
        </div>
        <div class="matches-section__inner">
          <h2 class="h3">Únor</h2>
          <div class="matches-section__item">
            <div class="matches-section__box">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img
                    src="images/content/club-3.png"
                    loading="lazy"
                    alt="team"
                  />
                </div>
                <div class="matches-section__log">
                  <img
                    src="images/content/club.png"
                    loading="lazy"
                    alt="team"
                  />
                </div>
              </div>
              <div class="matches-section__info">
                <div class="matches-section__date">1. kolo, so 22.7.2023</div>
                <h3 class="h4">
                  <span>SK Sigma Olomouc</span> -
                  <span class="kladno">SK Kladno</span>
                </h3>
              </div>
            </div>
            <a href="#" class="matches-section__result lose">0:1</a>
          </div>
          <div class="matches-section__item">
            <div class="matches-section__box">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img
                    src="images/content/club-3.png"
                    loading="lazy"
                    alt="team"
                  />
                </div>
                <div class="matches-section__log">
                  <img
                    src="images/content/club.png"
                    loading="lazy"
                    alt="team"
                  />
                </div>
              </div>
              <div class="matches-section__info">
                <div class="matches-section__date">1. kolo, so 22.7.2023</div>
                <h3 class="h4">
                  <span>SK Sigma Olomouc</span> -
                  <span class="kladno">SK Kladno</span>
                </h3>
              </div>
            </div>
            <a href="#" class="matches-section__result win">3:1</a>
          </div>
          <div class="matches-section__item">
            <div class="matches-section__box">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img
                    src="images/content/club-3.png"
                    loading="lazy"
                    alt="team"
                  />
                </div>
                <div class="matches-section__log">
                  <img
                    src="images/content/club.png"
                    loading="lazy"
                    alt="team"
                  />
                </div>
              </div>
              <div class="matches-section__info">
                <div class="matches-section__date">1. kolo, so 22.7.2023</div>
                <h3 class="h4">
                  <span>SK Sigma Olomouc</span> -
                  <span class="kladno">SK Kladno</span>
                </h3>
              </div>
            </div>
            <a href="#" class="matches-section__result win">3:1</a>
          </div>
        </div>
        <div class="matches-section__inner">
          <h2 class="h3">Březen</h2>
          <div class="matches-section__item">
            <div class="matches-section__box">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img
                    src="images/content/club-3.png"
                    loading="lazy"
                    alt="team"
                  />
                </div>
                <div class="matches-section__log">
                  <img
                    src="images/content/club.png"
                    loading="lazy"
                    alt="team"
                  />
                </div>
              </div>
              <div class="matches-section__info">
                <div class="matches-section__date">1. kolo, so 22.7.2023</div>
                <h3 class="h4">
                  <span>SK Sigma Olomouc</span> -
                  <span class="kladno">SK Kladno</span>
                </h3>
              </div>
            </div>
            <a href="#" class="matches-section__result win">3:1</a>
          </div>
          <div class="matches-section__item">
            <div class="matches-section__box">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img
                    src="images/content/club-3.png"
                    loading="lazy"
                    alt="team"
                  />
                </div>
                <div class="matches-section__log">
                  <img
                    src="images/content/club.png"
                    loading="lazy"
                    alt="team"
                  />
                </div>
              </div>
              <div class="matches-section__info">
                <div class="matches-section__date">1. kolo, so 22.7.2023</div>
                <h3 class="h4">
                  <span>SK Sigma Olomouc</span> -
                  <span class="kladno">SK Kladno</span>
                </h3>
              </div>
            </div>
            <a href="#" class="matches-section__result win">3:1</a>
          </div>
          <div class="matches-section__item">
            <div class="matches-section__box">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img
                    src="images/content/club-3.png"
                    loading="lazy"
                    alt="team"
                  />
                </div>
                <div class="matches-section__log">
                  <img
                    src="images/content/club.png"
                    loading="lazy"
                    alt="team"
                  />
                </div>
              </div>
              <div class="matches-section__info">
                <div class="matches-section__date">1. kolo, so 22.7.2023</div>
                <h3 class="h4">
                  <span>SK Sigma Olomouc</span> -
                  <span class="kladno">SK Kladno</span>
                </h3>
              </div>
            </div>
            <a href="#" class="matches-section__result win">3:1</a>
          </div>
        </div>
        <div class="matches-section__inner">
          <h2 class="h3">Duben</h2>
          <div class="matches-section__item">
            <div class="matches-section__box">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img
                    src="images/content/club-3.png"
                    loading="lazy"
                    alt="team"
                  />
                </div>
                <div class="matches-section__log">
                  <img
                    src="images/content/club.png"
                    loading="lazy"
                    alt="team"
                  />
                </div>
              </div>
              <div class="matches-section__info">
                <div class="matches-section__date">1. kolo, so 22.7.2023</div>
                <h3 class="h4">
                  <span>SK Sigma Olomouc</span> -
                  <span class="kladno">SK Kladno</span>
                </h3>
              </div>
            </div>
            <a href="#" class="matches-section__result win">3:1</a>
          </div>
          <div class="matches-section__item">
            <div class="matches-section__box">
              <div class="matches-section__logos">
                <div class="matches-section__logo">
                  <img
                    src="images/content/club-3.png"
                    loading="lazy"
                    alt="team"
                  />
                </div>
                <div class="matches-section__log">
                  <img
                    src="images/content/club.png"
                    loading="lazy"
                    alt="team"
                  />
                </div>
              </div>
              <div class="matches-section__info">
                <div class="matches-section__date">1. kolo, so 22.7.2023</div>
                <h3 class="h4">
                  <span>SK Sigma Olomouc</span> -
                  <span class="kladno">SK Kladno</span>
                </h3>
              </div>
            </div>
            <a href="#" class="matches-section__result win">3:1</a>
          </div>
        </div>
        <nav aria-label="Další stránky">
          <ul
            class="pagination d-flex flex-wrap pagination-flat pagination-success"
          >
            <li class="page-item active">
              <a class="page-link" href="#" data-abc="true">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true"> »</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
