.scoreboard {
  margin-bottom: 56px;
  @include media-breakpoint-down(xl) {
    margin-bottom: 40px;
  }
  &__item {
    padding-top: 48px;
    padding-bottom: 48px;
    border-radius: 8px;
    height: 100%;
    background-color: var(--color-blue-900);
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
  }
  &__date {
    font-family: "Teko", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: var(--color-light);
    margin-bottom: 8px;
    letter-spacing: 0.25px;
  }
  &__place {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: center;
    margin-bottom: 32px;

    color: var(--color-blue-200);
  }
  &__time {
    font-family: "Teko", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-blue-400);
    margin-bottom: 8px;
    display: block;
    text-decoration-color: transparent;
    &:hover {
      text-decoration-color: inherit;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: auto;
  }
  &__logo {
    width: 90px;
    height: 90px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    span {
      display: block;
      font-family: "Teko", sans-serif;
      font-size: 48px;
      font-weight: 300;
      line-height: 64px;
      letter-spacing: 0em;
      text-align: center;
      padding: 0 16px;
      color: var(--color-blue-800);
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
    flex-wrap: wrap;
    gap: 12px;
  }
  &__result {
    font-family: "Teko", sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
  }
  &__teams {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    color: var(--color-light);
    span + span {
      margin-top: 4px;
    }
    span {
      display: block;
    }
  }
}

.scoreboard__item.scoreboard__item--oncoming {
  background-color: var(--color-blue-500);
  .scoreboard__info {
    justify-content: center;
  }
  .scoreboard__teams {
    text-align: center;
  }
}

.win {
  color: var(--color-green);
}
.lose {
  color: var(--color-red);
}
