<section class="scoreboard">
  <div class="container">
    <div class="row g-4">
      <div class="col-xl-3 col-md-6">
        <div class="scoreboard__item">
          <div class="scoreboard__date">Středa 12.2.2024 - 18:00</div>
          <div class="scoreboard__place">Městský stadion Kladno</div>

          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img src="images/content/club.png" loading="lazy" alt="team" />
            </div>
            <span>VS</span>
            <div class="scoreboard__logo">
              <img src="images/content/club-1.png" loading="lazy" alt="team" />
            </div>
          </div>

          <div class="scoreboard__info">
            <h3 class="scoreboard__teams">
              <span>SK Kladno</span>
              <span>AC Sparta Praha</span>
            </h3>
            <div class="scoreboard__result win">5:0</div>
          </div>

          <ul class="scoreboard__links">
            <li>
              <a href="#" class="btn btn-primary"> Reportáž </a>
            </li>
            <li>
              <a href="#" class="btn btn-primary"> Galerie </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="scoreboard__item">
          <div class="scoreboard__date">Středa 12.2.2024 - 18:00</div>
          <div class="scoreboard__place">Andrův stadion</div>

          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img src="images/content/club-2.png" loading="lazy" alt="team" />
            </div>
            <span>VS</span>
            <div class="scoreboard__logo">
              <img src="images/content/club.png" loading="lazy" alt="team" />
            </div>
          </div>

          <div class="scoreboard__info">
            <h3 class="scoreboard__teams">
              <span>SK Slavia Praha</span>
              <span>SK Kladno</span>
            </h3>
            <div class="scoreboard__result win">2:8</div>
          </div>

          <ul class="scoreboard__links">
            <li>
              <a href="#" class="btn btn-primary"> Reportáž </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="scoreboard__item">
          <div class="scoreboard__date">Středa 12.2.2024 - 18:00</div>
          <div class="scoreboard__place">Eden</div>

          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img src="images/content/club-3.png" loading="lazy" alt="team" />
            </div>
            <span>VS</span>
            <div class="scoreboard__logo">
              <img src="images/content/club.png" loading="lazy" alt="team" />
            </div>
          </div>

          <div class="scoreboard__info">
            <h3 class="scoreboard__teams">
              <span>SK Sigma Olomouc</span>
              <span>SK Kladno</span>
            </h3>
            <div class="scoreboard__result lose">2:1</div>
          </div>

          <ul class="scoreboard__links">
            <li>
              <a href="#" class="btn btn-primary"> Reportáž </a>
            </li>
            <li>
              <a href="#" class="btn btn-primary"> Galerie </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xl-3 col-md-6">
        <div class="scoreboard__item scoreboard__item--oncoming">
          <div class="scoreboard__date">Středa 12.2.2024 - 18:00</div>
          <a href="#" class="scoreboard__time">18:00</a>
          <div class="scoreboard__place">Městský stadion Plzeň</div>

          <div class="scoreboard__logos">
            <div class="scoreboard__logo">
              <img src="images/content/club-4.png" loading="lazy" alt="team" />
            </div>
            <span>VS</span>
            <div class="scoreboard__logo">
              <img src="images/content/club.png" loading="lazy" alt="team" />
            </div>
          </div>

          <h3 class="scoreboard__teams">
            <span>SK Sigma Olomouc</span>
            <span>SK Kladno</span>
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
