<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__tag">#SkLADNO</div>
      <a href="#" class="footer__logo">
        <img src="images/ico/logo.svg" loading="lazy" alt="logo" />
      </a>
      <div class="footer__tag">#1903</div>
    </div>
    <div class="footer__bottom row">
      <div class="col-md-4">
        <div class="copyright">
          © 2023 SK Kladno &
          <a href="https://esportsmedia.cz/" target="_blank"
            >eSports.cz, s.r.o.</a
          >
        </div>
      </div>
      <div class="col-md-4">
        <ul class="footer__social">
          <li>
            <a href="#" target="_blank">
              {% include "@images/fb-blue.svg" %}
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              {% include "@images/insta-blue.svg" %}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <button id="scrollToTopBtn">
          {% include "@images/arrow-up.svg" %}
        </button>
      </div>
    </div>
  </div>
</footer>
