<a class="post" href="#">
  <img src="images/content/post.jpeg" loading="lazy" alt="post" />
  <div class="post__content">
    <div class="tag">Mládež</div>
    <h2 class="post__title">
      Spartě jsme nedali šanci. Vezeme 3 body za vítězství 3:1.
    </h2>
    <ul class="post__descr">
      <li>12.2.2024</li>
    </ul>
  </div>
</a>
