<section class="topstory">
  <div class="container">
    <div class="row g-4">
      <div class="col-xl-6">
        <a class="post mainPost" href="#">
          <img src="images/content/post-2.jpeg" loading="lazy" alt="post" />
          <div class="post__content">
            <div class="tag">A-Tým</div>
            <h1 class="post__title">
              Zdeněk Hašek po Vyšehradě a Admiře | Základem bylo to, že jsme
              chtěli hráče vidět ve větším zatížení
            </h1>
            <ul class="post__descr">
              <li>12.2.2024</li>
            
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xl-6">
        <div class="row g-4">
          <div class="col-sm-6">{% include "@components/post/post.twig" %}</div>
          <div class="col-sm-6">{% include "@components/post/post.twig" %}</div>
          <div class="col-sm-6">{% include "@components/post/post.twig" %}</div>
          <div class="col-sm-6">{% include "@components/post/post.twig" %}</div>
        </div>
      </div>
    </div>
  </div>
</section>
