.topstory {
  padding-top: 16px;
  margin-bottom: 56px;
  @include media-breakpoint-down(xl) {
    margin-bottom: 40px;
  }
}
.mainPost {
  .tag {
    margin-bottom: 20px;
    @include media-breakpoint-down(md) {
      margin-bottom: 16px;
    }
  }
  h1 {
    font-size: 52px;
    letter-spacing: 1.25px;
    line-height: 60px;
    @include media-breakpoint-down(md) {
      font-size: 28px;
      line-height: 110%;
      letter-spacing: 0.7px;
    }
  }
  .post__content {
    bottom: 34px;
    padding: 0 48px;
    @include media-breakpoint-down(md) {
      bottom: 20px;
      padding: 0 20px;
    }
  }
  .post__descr {
    margin-top: 20px;
    @include media-breakpoint-down(md) {
      margin-top: 16px;
    }
    li {
      font-size: 18px;
      line-height: 20px;
    }
  }
}
