:root {
  --color-light: #fff;
  --color-dark: #000;

  --color-50: #ebf6ff;
  --color-100: #d5ebfe;
  --color-blue-200: #a9d3ff;
  --color-blue-400: #0f87fe;
  --color-blue-500: #02448a;
  --color-blue-600: #004080;
  --color-dark-blue: #021334;
  --color-blue-900: #021933;
  --color-blue-800: #00264d;

  --color-red: #f04438;
  --color-green: #66c61c;
}
