<div class="hp-table">
  <h4>Tabulka</h4>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Tým</th>
        <th>Z</th>
        <th>Skóre</th>
        <th>B</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1.</td>
        <td>FK Neratovice-Byškovice</td>
        <td>12</td>
        <td>29:22</td>
        <td>35</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>FK Neratovice-Byškovice</td>
        <td>12</td>
        <td>29:22</td>
        <td>35</td>
      </tr>
      <tr class="kladno">
        <td>3.</td>
        <td>SK Kladno</td>
        <td>12</td>
        <td>29:22</td>
        <td>35</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>FK Neratovice-Byškovice</td>
        <td>12</td>
        <td>29:22</td>
        <td>35</td>
      </tr>
      <tr>
        <td>5.</td>
        <td>FK Neratovice-Byškovice</td>
        <td>12</td>
        <td>29:22</td>
        <td>35</td>
      </tr>
      <tr>
        <td>6.</td>
        <td>FK Neratovice-Byškovice</td>
        <td>12</td>
        <td>29:22</td>
        <td>35</td>
      </tr>
      <tr>
        <td>7.</td>
        <td>FK Neratovice-Byškovice</td>
        <td>12</td>
        <td>29:22</td>
        <td>35</td>
      </tr>
      <tr>
        <td>8.</td>
        <td>FK Neratovice-Byškovice</td>
        <td>12</td>
        <td>29:22</td>
        <td>35</td>
      </tr>
      <tr>
        <td>9.</td>
        <td>FK Neratovice-Byškovice</td>
        <td>12</td>
        <td>29:22</td>
        <td>35</td>
      </tr>
      <tr>
        <td>9.</td>
        <td>FK Neratovice-Byškovice</td>
        <td>12</td>
        <td>29:22</td>
        <td>35</td>
      </tr>
      <tr>
        <td>9.</td>
        <td>FK Neratovice-Byškovice</td>
        <td>12</td>
        <td>29:22</td>
        <td>35</td>
      </tr>
      <tr>
        <td>9.</td>
        <td>FK Neratovice-Byškovice</td>
        <td>12</td>
        <td>29:22</td>
        <td>35</td>
      </tr>
      <tr>
        <td>9.</td>
        <td>FK Neratovice-Byškovice</td>
        <td>12</td>
        <td>29:22</td>
        <td>35</td>
      </tr>
      <tr>
        <td>9.</td>
        <td>FK Neratovice-Byškovice</td>
        <td>12</td>
        <td>29:22</td>
        <td>35</td>
      </tr>
      <tr>
        <td>9.</td>
        <td>FK Neratovice-Byškovice</td>
        <td>12</td>
        <td>29:22</td>
        <td>35</td>
      </tr>
      <tr>
        <td>16.</td>
        <td>FK Neratovice-Byškovice</td>
        <td>12</td>
        <td>29:22</td>
        <td>35</td>
      </tr>
    </tbody>
  </table>

  <a href="#" class="btn btn-dark w-100 mt-4"><span>Kompletní tabulka</span></a>
</div>
