{% extends "@components/base/base.twig" %} {% set title = "01.0_homepage" %} {%
block main %} {% include "@components/topstory/topstory.twig" %} {% include
"@components/scoreboard/scoreboard.twig" %}

<section class="hp-board">
  <div class="container">
    <div class="row g-4">
      <div class="col-xxl-9 col-xl-8 col-md-7">
        {% include "@components/hp-social/hp-social.twig" %}
      </div>
      <div class="col-xxl-3 col-xl-4 col-md-5">
        {% include "@components/hp-table/hp-table.twig" %}
      </div>
    </div>
  </div>
</section>

{% endblock %}
