.juniors-section {
  .header-section {
    margin-bottom: 16px;
  }
  &__teams {
    margin-left: -4px;
    margin-right: -4px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    li {
      padding: 0 4px;
    }

    a {
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      text-decoration: none;
      color: var(--color-blue-500);
      border-radius: 4px !important;
      border: 1px solid var(--color-blue-500);
      padding-left: 8px;
      padding-right: 8px;
      transition: var(--transition);
      &:hover {
        background-color: var(--color-blue-200);
        border-color: var(--color-blue-500);
        color: var(--color-blue-900);
      }
    }
    .active {
      background-color: var(--color-blue-500);
      border-color: var(--color-blue-500);
      color: var(--color-light);
    }
  }

  &__submenu {
    display: flex;
    margin-left: -12px;
    margin-right: -12px;
    border: none;
    @include media-breakpoint-down(lg) {
      margin-top: 16px;
      margin-left: -8px;
      margin-right: -8px;
      flex-wrap: wrap;
    }
    li {
      padding: 0 12px;
      @include media-breakpoint-down(lg) {
        padding: 0 8px;
      }
    }
    .active {
      color: var(--color-blue-500);
    }
    a {
      border: none;
      background-color: transparent;
      outline: none;
      padding: 0;
      opacity: 1;
      color: RGB(131, 139, 155);
      font-size: 20px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: 0.5px;
      text-align: center;
      cursor: pointer;
      transition: var(--transition);
      text-decoration: underline;
      text-decoration-color: transparent;
      &:hover {
        text-decoration-color: inherit;
      }
    }
  }
}

.trainers-section {
  &__item {
    text-align: center;
    ul {
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      color: var(--color-dark);
    }
    li + li {
      margin-top: 4px;
    }
  }
  &__position {
    font-family: "Teko", sans-serif;
    color: var(--color-blue-500);
    font-size: 24px;
    margin-top: 8px;
  }
  &__img {
    width: 100%;
    margin-bottom: 16px;
    aspect-ratio: 360/360;
    border-radius: 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
