<section class="juniors-section pt-10 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-10 col-lg-10 mx-auto">
        <div class="header-section">
          <h1 class="h1">Rozcestník týmu</h1>
          <ul class="juniors-section__teams">
            <li><a href="#" class="active">U19</a></li>
            <li><a href="#" class="">U18</a></li>
            <li><a href="#" class="">U17</a></li>
            <li><a href="#" class="">U16</a></li>
            <li><a href="#" class="lighter">U15</a></li>
            <li><a href="#" class="lighter">U14</a></li>
            <li><a href="#" class="lighter">U13</a></li>
            <li><a href="#" class="lighter">U12</a></li>
            <li><a href="#" class="light">U11</a></li>
            <li><a href="#" class="light">U10</a></li>
            <li><a href="#" class="light">U9</a></li>
            <li><a href="#" class="light">U8</a></li>
            <li><a href="#" class="light">U7</a></li>
            <li><a href="#" class="light">U6</a></li>
            <li><a href="#" class="light">WU18</a></li>
            <li><a href="#" class="light">WU15</a></li>
          </ul>
        </div>
        <div class="juniors-section__menu">
          <ul class="juniors-section__submenu nav nav-tabs">
            <li>
              <a href="#soupiska" data-toggle="tab" class="active">Soupiska</a>
            </li>
            <li>
              <a data-toggle="tab" href="#real">Realizační tým</a>
            </li>
            <li><a data-toggle="tab" href="#zapasy">Výsledky</a></li>
            <li><a data-toggle="tab" href="#tabulka">Tabulka</a></li>
          </ul>
        </div>
        <div class="tab-content pt-4">
          <div class="tab-pane in active" id="soupiska">
            <div class="players-section">
              <div class="article-section__img mt-0">
                <img src="images/content/post.jpeg" loading="lazy" alt="post" />
              </div>
              <div class="table-section__content">
                <div class="o-content">
                  <table>
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Jméno</th>
                        <th>Rok narození</th>
                        <th>Výška</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>5</td>
                        <td>Veronika Laušmanová</td>
                        <td>2006</td>
                        <td>173 cm</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Veronika Laušmanová</td>
                        <td>2006</td>
                        <td>173 cm</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Veronika Laušmanová</td>
                        <td>2006</td>
                        <td>173 cm</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Veronika Laušmanová</td>
                        <td>2006</td>
                        <td>173 cm</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Veronika Laušmanová</td>
                        <td>2006</td>
                        <td>173 cm</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Veronika Laušmanová</td>
                        <td>2006</td>
                        <td>173 cm</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Veronika Laušmanová</td>
                        <td>2006</td>
                        <td>173 cm</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Veronika Laušmanová</td>
                        <td>2006</td>
                        <td>173 cm</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Veronika Laušmanová</td>
                        <td>2006</td>
                        <td>173 cm</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Veronika Laušmanová</td>
                        <td>2006</td>
                        <td>173 cm</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Veronika Laušmanová</td>
                        <td>2006</td>
                        <td>173 cm</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Veronika Laušmanová</td>
                        <td>2006</td>
                        <td>173 cm</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Veronika Laušmanová</td>
                        <td>2006</td>
                        <td>173 cm</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Veronika Laušmanová</td>
                        <td>2006</td>
                        <td>173 cm</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Veronika Laušmanová</td>
                        <td>2006</td>
                        <td>173 cm</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="real">
            <div class="trainers-section">
              <div class="table-section__content">
                <div class="o-content">
                  <table>
                    <thead>
                      <tr>
                        <th>Jméno a příjmení</th>
                        <th>Pozice</th>
                        <th>Telefon</th>
                        <th>E-mail</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><strong>František Mertl</strong></td>
                        <td>Asistent trenéra</td>
                        <td>
                          <a href="mailto:mertl@susjk.cz">mertl@susjk.cz</a>
                        </td>
                        <td>605 333 311</td>
                      </tr>
                      <tr>
                        <td><strong>František Mertl</strong></td>
                        <td>Asistent trenéra</td>
                        <td>
                          <a href="mailto:mertl@susjk.cz">mertl@susjk.cz</a>
                        </td>
                        <td>605 333 311</td>
                      </tr>
                      <tr>
                        <td><strong>František Mertl</strong></td>
                        <td>Asistent trenéra</td>
                        <td>
                          <a href="mailto:mertl@susjk.cz">mertl@susjk.cz</a>
                        </td>
                        <td>605 333 311</td>
                      </tr>
                      <tr>
                        <td><strong>František Mertl</strong></td>
                        <td>Asistent trenéra</td>
                        <td>
                          <a href="mailto:mertl@susjk.cz">mertl@susjk.cz</a>
                        </td>
                        <td>605 333 311</td>
                      </tr>
                      <tr>
                        <td><strong>František Mertl</strong></td>
                        <td>Asistent trenéra</td>
                        <td>
                          <a href="mailto:mertl@susjk.cz">mertl@susjk.cz</a>
                        </td>
                        <td>605 333 311</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="zapasy">
            <div class="matches-section">
              <div class="matches-section__inner">
                <h2 class="h3">Leden</h2>
                <div class="matches-section__item">
                  <div class="matches-section__box">
                    <div class="matches-section__logos">
                      <div class="matches-section__logo">
                        <img
                          src="images/content/club-3.png"
                          loading="lazy"
                          alt="team"
                        />
                      </div>
                      <div class="matches-section__log">
                        <img
                          src="images/content/club.png"
                          loading="lazy"
                          alt="team"
                        />
                      </div>
                    </div>
                    <div class="matches-section__info">
                      <div class="matches-section__date">
                        1. kolo, so 22.7.2023
                      </div>
                      <h3 class="h4">
                        <span>SK Sigma Olomouc</span> -
                        <span class="kladno">SK Kladno</span>
                      </h3>
                    </div>
                  </div>
                  <a href="#" class="matches-section__result win">3:1</a>
                </div>
                <div class="matches-section__item">
                  <div class="matches-section__box">
                    <div class="matches-section__logos">
                      <div class="matches-section__logo">
                        <img
                          src="images/content/club-3.png"
                          loading="lazy"
                          alt="team"
                        />
                      </div>
                      <div class="matches-section__log">
                        <img
                          src="images/content/club.png"
                          loading="lazy"
                          alt="team"
                        />
                      </div>
                    </div>
                    <div class="matches-section__info">
                      <div class="matches-section__date">
                        1. kolo, so 22.7.2023
                      </div>
                      <h3 class="h4">
                        <span>SK Sigma Olomouc</span> -
                        <span class="kladno">SK Kladno</span>
                      </h3>
                    </div>
                  </div>
                  <a href="#" class="matches-section__result">18:00</a>
                </div>
              </div>
              <div class="matches-section__inner">
                <h2 class="h3">Únor</h2>
                <div class="matches-section__item">
                  <div class="matches-section__box">
                    <div class="matches-section__logos">
                      <div class="matches-section__logo">
                        <img
                          src="images/content/club-3.png"
                          loading="lazy"
                          alt="team"
                        />
                      </div>
                      <div class="matches-section__log">
                        <img
                          src="images/content/club.png"
                          loading="lazy"
                          alt="team"
                        />
                      </div>
                    </div>
                    <div class="matches-section__info">
                      <div class="matches-section__date">
                        1. kolo, so 22.7.2023
                      </div>
                      <h3 class="h4">
                        <span>SK Sigma Olomouc</span> -
                        <span class="kladno">SK Kladno</span>
                      </h3>
                    </div>
                  </div>
                  <a href="#" class="matches-section__result lose">0:1</a>
                </div>
                <div class="matches-section__item">
                  <div class="matches-section__box">
                    <div class="matches-section__logos">
                      <div class="matches-section__logo">
                        <img
                          src="images/content/club-3.png"
                          loading="lazy"
                          alt="team"
                        />
                      </div>
                      <div class="matches-section__log">
                        <img
                          src="images/content/club.png"
                          loading="lazy"
                          alt="team"
                        />
                      </div>
                    </div>
                    <div class="matches-section__info">
                      <div class="matches-section__date">
                        1. kolo, so 22.7.2023
                      </div>
                      <h3 class="h4">
                        <span>SK Sigma Olomouc</span> -
                        <span class="kladno">SK Kladno</span>
                      </h3>
                    </div>
                  </div>
                  <a href="#" class="matches-section__result win">3:1</a>
                </div>
                <div class="matches-section__item">
                  <div class="matches-section__box">
                    <div class="matches-section__logos">
                      <div class="matches-section__logo">
                        <img
                          src="images/content/club-3.png"
                          loading="lazy"
                          alt="team"
                        />
                      </div>
                      <div class="matches-section__log">
                        <img
                          src="images/content/club.png"
                          loading="lazy"
                          alt="team"
                        />
                      </div>
                    </div>
                    <div class="matches-section__info">
                      <div class="matches-section__date">
                        1. kolo, so 22.7.2023
                      </div>
                      <h3 class="h4">
                        <span>SK Sigma Olomouc</span> -
                        <span class="kladno">SK Kladno</span>
                      </h3>
                    </div>
                  </div>
                  <a href="#" class="matches-section__result win">3:1</a>
                </div>
              </div>
              <div class="matches-section__inner">
                <h2 class="h3">Březen</h2>
                <div class="matches-section__item">
                  <div class="matches-section__box">
                    <div class="matches-section__logos">
                      <div class="matches-section__logo">
                        <img
                          src="images/content/club-3.png"
                          loading="lazy"
                          alt="team"
                        />
                      </div>
                      <div class="matches-section__log">
                        <img
                          src="images/content/club.png"
                          loading="lazy"
                          alt="team"
                        />
                      </div>
                    </div>
                    <div class="matches-section__info">
                      <div class="matches-section__date">
                        1. kolo, so 22.7.2023
                      </div>
                      <h3 class="h4">
                        <span>SK Sigma Olomouc</span> -
                        <span class="kladno">SK Kladno</span>
                      </h3>
                    </div>
                  </div>
                  <a href="#" class="matches-section__result win">3:1</a>
                </div>
                <div class="matches-section__item">
                  <div class="matches-section__box">
                    <div class="matches-section__logos">
                      <div class="matches-section__logo">
                        <img
                          src="images/content/club-3.png"
                          loading="lazy"
                          alt="team"
                        />
                      </div>
                      <div class="matches-section__log">
                        <img
                          src="images/content/club.png"
                          loading="lazy"
                          alt="team"
                        />
                      </div>
                    </div>
                    <div class="matches-section__info">
                      <div class="matches-section__date">
                        1. kolo, so 22.7.2023
                      </div>
                      <h3 class="h4">
                        <span>SK Sigma Olomouc</span> -
                        <span class="kladno">SK Kladno</span>
                      </h3>
                    </div>
                  </div>
                  <a href="#" class="matches-section__result win">3:1</a>
                </div>
                <div class="matches-section__item">
                  <div class="matches-section__box">
                    <div class="matches-section__logos">
                      <div class="matches-section__logo">
                        <img
                          src="images/content/club-3.png"
                          loading="lazy"
                          alt="team"
                        />
                      </div>
                      <div class="matches-section__log">
                        <img
                          src="images/content/club.png"
                          loading="lazy"
                          alt="team"
                        />
                      </div>
                    </div>
                    <div class="matches-section__info">
                      <div class="matches-section__date">
                        1. kolo, so 22.7.2023
                      </div>
                      <h3 class="h4">
                        <span>SK Sigma Olomouc</span> -
                        <span class="kladno">SK Kladno</span>
                      </h3>
                    </div>
                  </div>
                  <a href="#" class="matches-section__result win">3:1</a>
                </div>
              </div>
              <div class="matches-section__inner">
                <h2 class="h3">Duben</h2>
                <div class="matches-section__item">
                  <div class="matches-section__box">
                    <div class="matches-section__logos">
                      <div class="matches-section__logo">
                        <img
                          src="images/content/club-3.png"
                          loading="lazy"
                          alt="team"
                        />
                      </div>
                      <div class="matches-section__log">
                        <img
                          src="images/content/club.png"
                          loading="lazy"
                          alt="team"
                        />
                      </div>
                    </div>
                    <div class="matches-section__info">
                      <div class="matches-section__date">
                        1. kolo, so 22.7.2023
                      </div>
                      <h3 class="h4">
                        <span>SK Sigma Olomouc</span> -
                        <span class="kladno">SK Kladno</span>
                      </h3>
                    </div>
                  </div>
                  <a href="#" class="matches-section__result win">3:1</a>
                </div>
                <div class="matches-section__item">
                  <div class="matches-section__box">
                    <div class="matches-section__logos">
                      <div class="matches-section__logo">
                        <img
                          src="images/content/club-3.png"
                          loading="lazy"
                          alt="team"
                        />
                      </div>
                      <div class="matches-section__log">
                        <img
                          src="images/content/club.png"
                          loading="lazy"
                          alt="team"
                        />
                      </div>
                    </div>
                    <div class="matches-section__info">
                      <div class="matches-section__date">
                        1. kolo, so 22.7.2023
                      </div>
                      <h3 class="h4">
                        <span>SK Sigma Olomouc</span> -
                        <span class="kladno">SK Kladno</span>
                      </h3>
                    </div>
                  </div>
                  <a href="#" class="matches-section__result win">3:1</a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tabulka">
            <div class="table-section">
              <div class="table-section__content">
                <div class="o-content">
                  <table>
                    <tr>
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Tým</th>
                          <th>Z</th>
                          <th>V</th>
                          <th>R</th>
                          <th>P</th>
                          <th>B</th>
                          <th>Skóre</th>
                          <th>RG</th>
                          <th>+/-</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>5</td>
                          <td>
                            <img
                              src="images/content/club-2.png"
                              loading="lazy"
                              alt="logo"
                            />
                            FC Sellier & Bellot Vlašim
                          </td>
                          <td>24</td>
                          <td>13</td>
                          <td>77</td>
                          <td>6</td>
                          <td>1</td>
                          <td>34:19</td>
                          <td>99</td>
                          <td>88</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>
                            <img
                              src="images/content/club-2.png"
                              loading="lazy"
                              alt="logo"
                            />
                            FC Sellier & Bellot Vlašim
                          </td>
                          <td>24</td>
                          <td>13</td>
                          <td>77</td>
                          <td>6</td>
                          <td>1</td>
                          <td>34:19</td>
                          <td>99</td>
                          <td>88</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>
                            <img
                              src="images/content/club-2.png"
                              loading="lazy"
                              alt="logo"
                            />
                            FC Sellier & Bellot Vlašim
                          </td>
                          <td>24</td>
                          <td>13</td>
                          <td>77</td>
                          <td>6</td>
                          <td>1</td>
                          <td>34:19</td>
                          <td>99</td>
                          <td>88</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>
                            <img
                              src="images/content/club-2.png"
                              loading="lazy"
                              alt="logo"
                            />
                            FC Sellier & Bellot Vlašim
                          </td>
                          <td>24</td>
                          <td>13</td>
                          <td>77</td>
                          <td>6</td>
                          <td>1</td>
                          <td>34:19</td>
                          <td>99</td>
                          <td>88</td>
                        </tr>
                        <tr class="kladno">
                          <td>5</td>
                          <td>
                            <img
                              src="images/ico/logo.svg"
                              loading="lazy"
                              alt="logo"
                            />
                            FK Dukla Praha
                          </td>
                          <td>24</td>
                          <td>13</td>
                          <td>77</td>
                          <td>6</td>
                          <td>1</td>
                          <td>34:19</td>
                          <td>99</td>
                          <td>88</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>
                            <img
                              src="images/content/club-2.png"
                              loading="lazy"
                              alt="logo"
                            />
                            FC Sellier & Bellot Vlašim
                          </td>
                          <td>24</td>
                          <td>13</td>
                          <td>77</td>
                          <td>6</td>
                          <td>1</td>
                          <td>34:19</td>
                          <td>99</td>
                          <td>88</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>
                            <img
                              src="images/content/club-2.png"
                              loading="lazy"
                              alt="logo"
                            />
                            FC Sellier & Bellot Vlašim
                          </td>
                          <td>24</td>
                          <td>13</td>
                          <td>77</td>
                          <td>6</td>
                          <td>1</td>
                          <td>34:19</td>
                          <td>99</td>
                          <td>88</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>
                            <img
                              src="images/content/club-2.png"
                              loading="lazy"
                              alt="logo"
                            />
                            FC Sellier & Bellot Vlašim
                          </td>
                          <td>24</td>
                          <td>13</td>
                          <td>77</td>
                          <td>6</td>
                          <td>1</td>
                          <td>34:19</td>
                          <td>99</td>
                          <td>88</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>
                            <img
                              src="images/content/club-2.png"
                              loading="lazy"
                              alt="logo"
                            />
                            FC Sellier & Bellot Vlašim
                          </td>
                          <td>24</td>
                          <td>13</td>
                          <td>77</td>
                          <td>6</td>
                          <td>1</td>
                          <td>34:19</td>
                          <td>99</td>
                          <td>88</td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>
                            <img
                              src="images/content/club-2.png"
                              loading="lazy"
                              alt="logo"
                            />
                            FC Sellier & Bellot Vlašim
                          </td>
                          <td>24</td>
                          <td>13</td>
                          <td>77</td>
                          <td>6</td>
                          <td>1</td>
                          <td>34:19</td>
                          <td>99</td>
                          <td>88</td>
                        </tr>
                      </tbody>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
